.sp-slide-container {
    /* background-color: brown; */
    padding: 50px;
    width: 25vw;
    height: 25vw;
    display: flex;
    align-items: flex-end;
}

.sp-slide-container-effect {
    position: relative;
    /* background-color: aqua; */
    width: 100%;
    /* height: 100%; */
}

.sp-slide-img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.sp-slide-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.sp-slide-effect-txt {
    background-color:  rgb(180, 7, 52);
    color: white;
    font-size: 13px;
    padding: 13px 25px;
}

.sp-slide-container-effect:hover .sp-slide-img {
    opacity: 0.3;
  }
  
  .sp-slide-container-effect:hover .sp-slide-middle {
    opacity: 1;
  }