.footer-container {
    /* background-color: var(--primary-color); */
    position: absolute;
    height: 35vh;
    width: 100%;
    bottom: 0;
    border-top: 3px solid var(--primary-color);
    padding-top: 5px;
}

.footer-column {
    /* background-color: aqua; */
    display:flex;
    flex-direction: column;
    width: 345px;
    justify-content: center;
    padding-left: 15px;
}

.footer-logo {
    max-width: 300px;
    height: auto;
}

.footer-button {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    width: 85%;
    padding: 8px;
    color: var(--primary-color);
    margin: 8px 0;
}

.footer-button p {
   margin: 0;
   padding-left: 5px;
   font-weight: bold;
}

.footer-fcb {
    color: var(--primary-color);
    text-align: center;
}